<?xml version="1.0" encoding="UTF-8"?>
  <web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>BasicAuth</display-name>
  <servlet>
   <display-name>HelloImpl</display-name>
   <servlet-name>HelloImpl</servlet-name>
   <servlet-class>basicauth.HelloImpl</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>HelloImpl</servlet-name>
   <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <security-constraint>
   <display-name>SecurityConstraint</display-name>
   <web-resource-collection>
    <web-resource-name>WRCollection</web-resource-name>
    <url-pattern>/hello</url-pattern>
    <http-method>POST</http-method>
    <http-method>GET</http-method>
   </web-resource-collection>
   <auth-constraint>
    <role-name>admin</role-name>
   </auth-constraint>
   <user-data-constraint>
    <transport-guarantee>NONE</transport-guarantee>
   </user-data-constraint>
  </security-constraint>
  <login-config>
   <auth-method>BASIC</auth-method>
  </login-config>
  <security-role>
   <role-name>admin</role-name>
  </security-role>
</web-app>
