<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>cbserver</display-name>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>com.sun.cb.messages.CBMessages</param-value>
  </context-param>
  <servlet>
    <display-name>RetailPriceListServlet</display-name>
    <servlet-name>RetailPriceListServlet</servlet-name>
    <servlet-class>com.sun.cb.RetailPriceListServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Dispatcher</display-name>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>com.sun.cb.Dispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailPriceListServlet</servlet-name>
    <url-pattern>/loadPriceList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/orderForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/checkoutForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/checkoutAck</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <display-name>cbserver</display-name>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
      <scripting-invalid>false</scripting-invalid>
      <is-xml>false</is-xml>
      <include-prelude>/template/prelude.jspf</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <security-constraint>
    <display-name>SecurityConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>WRCollection</web-resource-name>
      <url-pattern>/loadPriceList</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>file</realm-name>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <resource-ref>
    <res-ref-name>eis/JAXR</res-ref-name>
    <res-type>javax.xml.registry.ConnectionFactory</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>
